.cabeçalho {
    display: flex;
    height: auto;
    width: 100vw;
    align-items: flex-start;
}

.botoes{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 37vw;
}